.download-3-icon {
  height: 63px;
  width: 59px;
  position: relative;
  object-fit: cover;
  mix-blend-mode: color-burn;
  cursor: pointer;
}
.download-3-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-4xs);
}
.african-leopard-male-cropped-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame-section {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 21px 0;
}
.frame-child3 {
  height: 53px;
  width: 509px;
  position: relative;
  background-color: var(--color-gainsboro);
  display: none;
  max-width: 100%;
}
.leapord1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.frame-child4,
.rectangle-parent2 {
  background-color: var(--color-gainsboro);
  max-width: 100%;
}
.rectangle-parent2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-6xs) 123px 0;
  box-sizing: border-box;
}
.frame-child4 {
  height: 363px;
  width: 487px;
  position: relative;
  display: none;
}
.distribution-of-all,
.occurring-widely-in,
.the-leopard-has {
  margin: 0;
}
.caucasus1 {
  text-decoration: underline;
}
.caucasus {
  color: inherit;
}
.caucasus-and-asia-although,
.declining-it-is,
.populations-are-fragmented {
  margin: 0;
}
.locally-extinct1 {
  text-decoration: underline;
}
.locally-extinct {
  color: inherit;
}
.north-africa1 {
  text-decoration: underline;
}
.north-africa {
  color: inherit;
}
.locally-extinct-in-north-afric {
  margin: 0;
}
.the-leopard-has-container {
  height: 318px;
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.frame-footer {
  width: 487px;
  background-color: var(--color-gainsboro);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-7xl) 49px 19px 68px;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.frame-parent1 {
  width: 509px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px 0;
  max-width: 105%;
  flex-shrink: 0;
}
.iphone-14-15-pro-max-6,
.iphone-14-15-pro-max-6-inner {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.iphone-14-15-pro-max-6-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.iphone-14-15-pro-max-6 {
  width: 100%;
  position: relative;
  background-color: var(--color-rosybrown);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: column;
  padding: 0 0 var(--padding-4xs);
  gap: 30px 0;
  letter-spacing: normal;
}
@media screen and (max-width: 450px) {
  .rectangle-parent2 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .the-leopard-has-container {
    font-size: var(--font-size-lgi);
  }
  .frame-footer {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
