.lion-pictures-snw3r6217skr1ni5-icon {
  width: 300px;
  height: 168.8px;
  position: relative;
  object-fit: cover;
  display: none;
  z-index: 0;
}
.lion-pictures-snw3r6217skr1ni5-icon1 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.n {
  width: 31px;
  position: relative;
  white-space: pre-wrap;
  display: none;
  cursor: pointer;
  z-index: 2;
}
.frame-div {
  position: absolute;
  top: -47px;
  left: -26px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.iphone-14-15-pro-max-4-inner {
  width: 89px;
  height: 29px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  z-index: 3;
}
.rectangle-frame {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  cursor: pointer;
  z-index: 1;
}
.lion1 {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--font-size-21xl);
  background-color: transparent;
  height: 48px;
  flex: 1;
  position: relative;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 56px;
  z-index: 2;
}
.i-phone-pro-max-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 1px 184px var(--padding-9xs) 152px;
  position: relative;
}
.i-phone-pro-max-frame-child {
  height: 363px;
  width: 430px;
  position: relative;
  background-color: var(--color-gainsboro);
  display: none;
}
.the-lion-panthera-leo-is {
  margin: 0;
}
.cat1 {
  text-decoration: underline;
}
.cat {
  color: inherit;
}
.panthera1 {
  text-decoration: underline;
}
.panthera {
  color: inherit;
}
.body-a-short,
.cat-of-the-genus-panthera,
.it-has-a,
.native-to-africa,
.round-ears-and {
  margin: 0;
}
.sexually1 {
  text-decoration: underline;
}
.sexually {
  color: inherit;
}
.the-end-of-its-tail-it-is-sex {
  margin: 0;
}
.dimorphic1 {
  text-decoration: underline;
}
.dimorphic {
  color: inherit;
}
.are-larger-than,
.dimorphic-adult-male-lions,
.have-a-prominent {
  margin: 0;
}
.social-species1 {
  text-decoration: underline;
}
.social-species {
  color: inherit;
}
.called-prides,
.social-species-forming-groups {
  margin: 0;
}
.the-lion-panthera-leo-is-container {
  position: relative;
  z-index: 1;
}
.i-phone-pro-max-frame1 {
  background-color: var(--color-gainsboro);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-14xl) var(--padding-7xs) 24px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.download-1-icon {
  width: 59px;
  height: 63px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  object-fit: cover;
  mix-blend-mode: color-burn;
  cursor: pointer;
}
.iphone-14-15-pro-max-4 {
  width: 100%;
  position: relative;
  background-color: var(--color-rosybrown);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-65xl) 0 var(--padding-4xs);
  gap: 20px 0;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
