.download-5-icon,
.rectangle-icon {
  position: relative;
  object-fit: cover;
}
.download-5-icon {
  width: 59px;
  height: 63px;
  mix-blend-mode: color-burn;
  cursor: pointer;
}
.rectangle-icon {
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.download-5-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 21px 0;
}
.frame-child5 {
  height: 53px;
  width: 509px;
  position: relative;
  background-color: var(--color-gainsboro);
  display: none;
}
.zebra1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.rectangle-parent3 {
  width: 509px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-132xl) var(--padding-5xs);
  box-sizing: border-box;
}
.background-frame,
.rectangle-parent3,
.zebra-label {
  background-color: var(--color-gainsboro);
}
.zebra-label {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.background-frame {
  border: 0;
  height: 363px;
  width: 415px;
  outline: 0;
  position: absolute;
  margin: 0 !important;
  top: -22px;
  left: -49px;
}
.equus1 {
  text-decoration: underline;
}
.equus {
  color: inherit;
}
.zebras-share-the-genus-equus {
  margin: 0;
}
.horses1 {
  text-decoration: underline;
}
.horses {
  color: inherit;
}
.asses1 {
  text-decoration: underline;
}
.asses {
  color: inherit;
}
.living-members-of,
.three-groups-being,
.with-horses-and-asses-the {
  margin: 0;
}
.equidae1 {
  text-decoration: underline;
}
.equidae {
  color: inherit;
}
.as-a-deterrent,
.different-patterns-unique,
.each-individual-several,
.equidae-zebra-stripes-come-in,
.function-of-these,
.have-been-proposed,
.most-evidence-supporting {
  margin: 0;
}
.zebras-share-the-container {
  position: relative;
  z-index: 1;
}
.background-frame-parent,
.iphone-14-15-pro-max-8,
.iphone-14-15-pro-max-8-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.background-frame-parent {
  position: relative;
}
.iphone-14-15-pro-max-8,
.iphone-14-15-pro-max-8-inner {
  padding: 0 var(--padding-6xs);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.iphone-14-15-pro-max-8 {
  width: 100%;
  position: relative;
  background-color: var(--color-rosybrown);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 var(--padding-11xl);
  gap: 45px 0;
  font-size: var(--font-size-21xl);
}
