.download-2-icon {
  width: 59px;
  height: 63px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 5px;
  object-fit: cover;
  mix-blend-mode: color-burn;
  cursor: pointer;
}
.stroke-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.textbox-frame-child {
  height: 53px;
  width: 509px;
  position: relative;
  background-color: var(--color-gainsboro);
  display: none;
  max-width: 100%;
}
.tiger1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.textbox-frame {
  align-self: stretch;
  background-color: var(--color-gainsboro);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px var(--padding-xl) 0 21px;
  box-sizing: border-box;
  max-width: 100%;
}
.empty-rectangle,
.empty-rectangle-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.empty-rectangle {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-65xl) 0 0;
  position: relative;
  gap: 19px 0;
}
.empty-rectangle-wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.description-text-child {
  height: 363px;
  width: 504px;
  position: relative;
  background-color: var(--color-gainsboro);
  display: none;
  max-width: 100%;
}
.scientifically1 {
  text-decoration: underline;
}
.scientifically {
  color: inherit;
}
.the-tiger-was-first-scientific {
  margin: 0;
}
.described1 {
  text-decoration: underline;
}
.described {
  color: inherit;
}
.described-in-1758-it-once-ran {
  margin: 0;
}
.eastern-anatolia1 {
  text-decoration: underline;
}
.eastern-anatolia {
  color: inherit;
}
.widely-from-the-eastern-anatol {
  margin: 0;
}
.region1 {
  text-decoration: underline;
}
.region {
  color: inherit;
}
.amur1 {
  text-decoration: underline;
}
.amur {
  color: inherit;
}
.region-in-the-west-to-the-amur {
  margin: 0;
}
.river1 {
  text-decoration: underline;
}
.river {
  color: inherit;
}
.river-basin-in-the-east-and-i,
.south-from-the {
  margin: 0;
}
.himalayas1 {
  text-decoration: underline;
}
.himalayas {
  color: inherit;
}
.sunda1 {
  text-decoration: underline;
}
.sunda {
  color: inherit;
}
.himalayas-to-bali-in-the-sunda {
  margin: 0;
}
.islands1 {
  text-decoration: underline;
}
.islands {
  color: inherit;
}
.century-tiger-populations,
.islands-since-the-early-20th,
.lost-at-least,
.range {
  margin: 0;
}
.the-tiger-was-container {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.description-text,
.iphone-14-15-pro-max-5 {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
}
.description-text {
  align-self: stretch;
  background-color: var(--color-gainsboro);
  flex-direction: row;
  justify-content: flex-end;
  padding: var(--padding-mid) var(--padding-14xl) 27px 56px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.iphone-14-15-pro-max-5 {
  width: 100%;
  position: relative;
  background-color: var(--color-rosybrown);
  border: 1px solid var(--color-black);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  gap: 31px 0;
  letter-spacing: normal;
}
@media screen and (max-width: 450px) {
  .the-tiger-was-container {
    font-size: var(--font-size-lgi);
  }
  .description-text {
    padding-left: var(--padding-xl);
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .iphone-14-15-pro-max-5 {
    gap: 31px 0;
  }
}
